<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NomePagina</title>
</head>
<body>
    <div>
        <form action="{{ url_for('handle_data') }}" method="post" enctype="multipart/form-data">
            <label for="min_inv">investimento minimo:</label>
            <input type="number"  name='min_inv' min="0" value="0"><br><br>
            <label for="max_inv">investimento massimo:</label>
            <input type="number"name='max_inv' min="0" value="0"><br><br>
            
            <label for=" max_grado_volatilità ">max grado di volatilità:</label>
            <input type="number" max="1" min="0.35" step="0.01" value="0.35" name="max_vol"><br>


            <input type="submit" value="Invia">
          </form>
    </div>
</body>
</html>