<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading</title>
    <script>
        function checkCompletion() {
            fetch('/output')
                .then(response => {
                    if (response.redirected) {
                        // The long-running function has completed, redirect to the output page
                        window.location.href = response.url;
                    } else {
                        // The function is still running, check again after a delay
                        setTimeout(checkCompletion, 1000);
                    }
                });
        }

        // Start checking for completion when the page loads
        window.onload = checkCompletion;
    </script>
</head>
<body>
    <p>Loading...</p>
</body>
</html>
